.wrapper
  = render 'shared/header'
  .contents
    .title
      顧客編集
      %hr/
    .coment
      ・数字は半角で入力してください。<br>
      ・電話番号は(-)ハイフンを含めて入力してください。<br>
      ・予約日は西暦と月と日を(/)スラッシュで区切ってください。<br>
      ・テーブルを複数選択する場合はshiftキー(または⌘キー)を押しながら選択してください。<br>
      ・テーブルの選択を解除する場合は⌘キーを押しながら選択済みのテーブルをクリックしてください。

    .form
      = form_for [@customer]  do |f|
        .new-input
          = f.label :name, "名前", class: "label"
          = f.text_field :name, class: "input-box", placeholder: "例: サトウ"
          = f.label :people, "人数", class: "label"
          = f.number_field :people, class: "input-box", placeholder: "例: 12"
          = f.label :tel, "電話番号", class: "label"
          = f.text_field :tel, class: "input-box", placeholder: "例: 123-4567-8910"
          = f.label :day, "日程", class: "label"
          = f.date_field :day, class: "input-box", placeholder: "予約日"
          = f.label :time, "時間", class: "label"
          = f.time_field :time, class: "input-box", placeholder: "予約時間"
          = f.label :table_ids, "テーブル", class: "label"
          = f.collection_select :table_ids, Table.all, :id, :name,{}, {multiple: true}
          = f.text_area :text, class: "input-area", placeholder: "備考欄"
          = f.submit '更新', class: "submit-btn"