.wrapper
  = render 'shared/header'
  .contents
    .form
      .form_title
        顧客情報検索
      .form_search-box
        = form_tag('/customers', method: :get, id: "search_customer")  do
          %input.customer-search{type: "search",name: "keyword",placeholder: "電話番号を入力してください",value: ""}/ 
    .message
      ・電話番号(例: 123-4567-8910)または名前(例: サトウ)を入力することで顧客情報を検索できます。<br>
      ・予約日(例: 1111-11-11)を入力することで検索したい日程の予約を一覧表示できます。
    .customers
      - @customers.each do |customer|
        .customer
          .customer_name
            = customer.name + "様"
          .customer_people
            = customer.people + "名"
          .customer_tel
            = customer.tel
          .customer_day
            = customer.day
          .customer_time
            = customer.time
          .customer_text
            = customer.text
          .customer_edit
            = link_to '編集', "/customers/#{customer.id}/edit", method: :get, class: "customer_edit_btn"
