.wrapper
  = render 'shared/header'
  .contents
    .form
      .form_title
        顧客情報検索
      .form_search-box
        %input.customer-search{type: "text",name: "keyword",placeholder: "電話番号を入力してください"}/
      .form_search-btn
    .customers
      - @customers.each do |customer|
        .customer
          .customer_name
            = customer.name + "様"
          .customer_people
            = customer.people + "名"
          .customer_tel
            = customer.tel
          .customer_time
            = customer.time
          .customer_text
            = customer.text
