.wrapper
  = render 'shared/header'
  .contents
    .title
      予約登録
      %hr/
    .coment
      ・数字は半角で入力してください。<br>
      ・電話番号は(-)ハイフンを含めて入力してください。<br>
      ・予約日は月と日を(/)スラッシュで区切ってください。<br>
    .form
      = form_for [@customer]  do |f|
        .new-input
          = f.text_field :name, class: "input-box", placeholder: "顧客名"
          = f.text_field :people, class: "input-box", placeholder: "人数"
          = f.text_field :tel, class: "input-box", placeholder: "電話番号"
          = f.text_field :day, class: "input-box", placeholder: "予約日"
          = f.text_field :time, class: "input-box", placeholder: "予約時間"
          = f.text_area :text, class: "input-area", placeholder: "備考欄"
          = f.submit '登録', class: "submit-btn"