.wrapper
  = render 'shared/header'
  .contents
    .tables
      %button.table_reset
        着席状態を全て解除
      - current_user.tables.each do |table|
        .table{id: "table-#{table.id}"}
          %input{name: "table[customer_ids][]", type: "hidden", value: "#{table.id}"}/
          %input{name: "bgcolor",type: "checkbox", value: "lightpink", id: "#{table.id}", class: "table_check"}/
          .table_name
            =table.name
          .table_delete
            =link_to 'テーブル削除', "/tables/#{table.id}", method: :delete, class: "table_delete_btn"
          = render partial: "table", collection: table.customers
